# PostgreSQL
POSTGRES_USER=wifi_user
POSTGRES_PASSWORD=wifi_pass
POSTGRES_DB=wifi_auth
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Backend
SECRET_KEY=your-secret-key-here
ENCRYPTION_KEY=KQDVDEmv4RD8wOo7F29etnnbIsTj2XHro3JXZNX7hXY=  # generate with Fernet.generate_key().decode()
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
BACKEND_PORT=8000