BOT_TOKEN=your_telegram_bot_token
BACKEND_URL=http://backend:8000/api/v1/auth/telegram/callback
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1
WEBHOOK_URL=https://your-ngrok-or-codespaces-url.ngrok.io  # без /webhook
WEBHOOK_PATH=/webhook